{% extends 'main.html' %}
{% load static %}
    {% block css%}<link rel="stylesheet" type="text/css" href="{% static 'css/cart.css' %}">{% endblock css%}
{% block userinfo %}
<h3>{{user.username}}</h3>
<p>{{user.email}}</p>
{% endblock userinfo %}
{% block content %}

{% for msg in messages %}
<p class="achivment-event">{{msg}}</p>
{% endfor %}

<div class="container">

    <!-- TODO страница оформления заказа -->

</div>
<footer>
    <a href="https://github.com/Erubarm">
        <img src="{% static 'icons/icon-github.svg' %}" alt="github icon">
    </a>
    <a href="https://t.me/KKom3 ">
        <img src="{% static 'icons/icon-telegram.svg' %}" alt="telegram icon">
    </a>
    <a href="https://vk.com/pomianem_xex">
        <img src="{% static 'icons/icon-vk.svg' %}" alt="VK icon">
    </a>
</footer>
{% endblock content %}
